<div id="<%= dom_id restaurant %>">
  <span>
    <%= restaurant.name %>
    <a href=<%= restaurant.map_link %> class="font-medium text-blue-600 dark:text-blue-500 hover:underline" target="_blank"><%= restaurant.address %></a>
    +
  </span>
</div>
